.PostTitle {
  display: inline-flex;
  padding: 16px 16px;
}
.UserIcon {
  /* width: 50px; */
  display: flex;
  text-align: center;
  box-sizing: border-box;
}
.UserId {
  display: grid;
  align-items: center;
}
.UserId h6,
.UserId p {
  margin: 0;
}
.UserId h6 {
  font-size: 16px;
  line-height: 10px;
}
.UserId p {
  font-size: 12px;
  line-height: 12px;
  margin-top: 4px;
}