.PostTitle {
  display: flex;
  height: 60px;
  font-size: 0.8rem;
}
.UserIcon {
  width: 50px;
  display: flexbox;
  text-align: center;
  box-sizing: border-box;
}
.UserId {
  display: block;
}
.DP {
  width: 35px;
  height: 35px;
  align-self: center;
  justify-self: center;
  margin-top: 10px;
  border-radius: 50%;
}