::-webkit-input-placeholder {
  color: black;
  opacity: 0.5;
}
.Input_Areas {
  border: 1px solid rgba(192, 192, 192, 0.5);
  border-radius: 2.5px;
  height: 3em;
  width: 85%;
  padding: 0 10px;
  border-radius: 10px;
  display: block;
  cursor: cursor;
  margin: 10px auto;
  background: rgb(248, 248, 255);
  box-sizing: border-box;
}
.Input_Areas:focus {
  outline: none;
  border: 1px solid rgba(142, 142, 142, 1);
}
.Error_Display {
  color: red;
  font-style: italic;
  font-weight: normal;
  padding-top: 15px;
  margin: 0;
}
.Link {
  color: deepskyblue;
}
.Link:hover {
  color: #ff0055A1;
}