.View-Pic {
  height: 100%;
}
.View-Pic .row {
  height: 100%;
  width: 100%;
  margin: 0;
}
.View-Pic .row div {
  padding: 0;
}
.View-Pic .row div:first-child {
  position: relative;
  display: grid;
  background: #000000;
}
.View-Pic img {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  object-fit: scale-down;
  margin: auto;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}
