.Signup-Box {
  display: flex;
  height: 100vh;
  flex-flow: column;
  text-align: center;
  background: white;
  box-sizing: border-box;
  justify-content: center;
}
.MobileNo {
  margin: 0 auto;
}
.CountryCode input {
}
