.Post {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(179, 176, 176, 0.986);
  background: white;
}
.PostImage {
  display: block;
  width: 100%;
  background-color: white;
}
hr {
  border-top: none;
  border-color: grey;
  opacity: 0.25;
}
