.Post {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  box-sizing: border-box;
  border: 1px solid rgba(179, 176, 176, 0.986);
  background: #ddd;
}
.PostImage {
  display: block;
  width: 100%;
  height: 600px;
  background-color: white;
}
.NewComment {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-content: center;
}
.NewComment input {
  margin: 0;
  padding: 0;
  border: 0;
  width: 80%;
}
.NewComment > input:focus {
  outline-width: 0;
}
.NewComment button {
  width: 15%;
  height: 100%;
  border: 0;
  background-color: white;
  color: lightblue;
  float: right;
  display: block;
}
.NewComment button:hover {
  color: blue;
}
