.PopupWindow .ProfilePic {
  cursor: pointer;
  position: relative;
}
.PopupWindow .ProfilePic:hover::after {
  width: 100%;
}
.PopupWindow .ProfilePic:hover::before {
  display: block;
}
.PopupWindow .ProfilePic::before {
  top: 50%;
  left: 40%;
  width: 0;
  display: none;
  position: absolute;
  transform: translate(0, -50%);
  content: url("../../../assets/Icons/pencil-svgrepo-com.svg");
}
.PopupWindow .ProfilePic::after {
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  content: "";
  border-radius: 50%;
  background: #66666680;
  position: absolute;
}
