.PostReactions {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding: 10px 10px 0;
}
.ReactionIconsDiv {
  width: 100%;
  margin: 0;
  display: inline-block;
}
.ReactionIcons {
  display: inline-flex;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  align-items: center;
  justify-content: center;
}
.ReactionIcons svg {
  width: 30px;
  height: 30px;
}
.ReactionIcons.Liked svg,
.ReactionIcons.Bookmarked svg {
  filter: invert(38%) sepia(99%) saturate(7470%) hue-rotate(335deg)
  brightness(108%) contrast(119%);
}
.IconsRight {
  float: right;
}
.ReactionStatus {
  margin: 10px auto;
  font-size: 0.8rem;
  font-weight: bold;
}
.ReactionStatus p {
  margin: 0;
}

/* .ReactionIconsHeart {
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 25px;
  height: 25px;
}

.ReactionIconsHeart:before,
.ReactionIconsHeart:after {
  position: absolute;
  content: "";
  left: 13px;
  top: 10px;
  width: 13px;
  height: 20px;
  z-index: 10;
  border-radius: 50px 50px 0 0;
  background: white;
  border: 1px solid;
  transform: rotate(-46deg);
  transform-origin: 0 100%;
  margin-left: 5px;
}

.ReactionIconsHeart:after {
  left: 0;
  z-index: 20;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  border-left: 0;
  border-bottom: 0;
}

.Liked {
  display: inline-block;
  position: relative;
  padding: 5px;
  width: 25px;
  height: 25px;
}

.Liked:before,
.Liked:after {
  position: absolute;
  content: "";
  left: 13px;
  top: 10px;
  width: 13px;
  height: 20px;
  background: red;
  color: red;
  z-index: 10;
  border-radius: 50px 50px 0 0;
  border: 1px solid;
  transform: rotate(-46deg);
  transform-origin: 0 100%;
  margin-left: 5px;
}

.Liked:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  border-left: 0;
  border-bottom: 0;
} */
